@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts  */
.menuFont {
    font-family: "bebas";
    font-size: 22px;
}

.fontVrcnagir {
    font-family: "vrcnagir_am";
}

.header2 {
    text-align: center;
    font-family: "vrcnagir_am";
    font-size: 45px;
    color: orange;
}

/* navLogo */
.logoContainer {
    position: relative;
}

.navLogo {
    position: absolute;
    top: 0;
    background-image: url("../public/global/logonav.png");
    background-position: center;
    background-size: contain;
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    z-index: -500;
}

/* fonts */
@font-face {
    font-family: "vrcnagir_am";
    src: local("vrcnagir_am"),
        url("../fonts/fonter.am_vrdznagir/Vrdznagir.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "bebas";
    src: local("bebas"),
        url("../fonts/fonter.am_arm-hmks-bebas-neue/bebas.TTF") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "xnamvac";
    src: local("xnamvac"),
        url("../fonts/fonter.am_weblysleek-ui/weblysleekuisb.ttf") format("truetype");
    font-weight: bold;
}